Languages/tools/UpdaterCommon/ShareazaSkin.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.shareaza.com/schemas/Skin.xsd" targetNamespace="http://www.shareaza.com/schemas/Skin.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="skin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="dialogs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dialog">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="control">
                      <xs:complexType>
                        <xs:attribute name="caption" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="cookie" type="xs:string" use="required" />
                  <xs:attribute name="caption" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="toolbars" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="toolbar" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rightAlign" type="xs:string" minOccurs="0" />
                    <xs:element name="button" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" />
                        <xs:attribute name="text" type="xs:string" />
                        <xs:attribute name="visible" type="xs:string" />
                        <xs:attribute name="tip" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="separator" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="label" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="text" type="xs:string" />
                        <xs:attribute name="tip" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="control" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" />
                        <xs:attribute name="width" type="xs:string" />
                        <xs:attribute name="height" type="xs:string" />
                        <xs:attribute name="text" type="xs:string" />
                        <xs:attribute name="checked" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>        
        <xs:element name="commandTips" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tip" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="message" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="controlTips" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tip" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="message" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="strings" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="string" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="value" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>