Languages/tools/Updater/ShareazaDialog.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.shareaza.com/schemas/Skin.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="skin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="dialogs">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dialog">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="control">
                      <xs:complexType>
                        <xs:attribute name="caption" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="cookie" type="xs:string" use="required" />
                  <xs:attribute name="caption" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute fixed="1.0" name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>