Schemas/audio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.limewire.com/schemas/audio.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	<mapping>
		<network name="ed2k" value="Audio"/>
	</mapping>
	<simpleType name="GUIDType">
		<restriction base="string">
			<pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}"/>
		</restriction>
	</simpleType>
	<element name="audios">
		<complexType>
			<element name="audio" type="audioType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="audioType">
		<all>
			<attribute name="title" type="string"/>
			<attribute name="artist" type="string"/>
			<attribute name="albumArtist" type="string"/>
			<attribute name="origArtist" type="string"/>
			<attribute name="album" type="string"/>
			<attribute name="origAlbum" type="string"/>
			<attribute name="type">
				<simpleType base="string">
					<enumeration value="Album"/>
					<enumeration value="Live"/>
					<enumeration value="Soundtrack"/>
					<enumeration value="Remix"/>
					<enumeration value="Single"/>
					<enumeration value="Compilation"/>
					<enumeration value="EP"/>
					<enumeration value="Speech"/>
					<enumeration value="Audiobook"/>
					<enumeration value="Non-Album Track"/>
					<enumeration value="Other"/>
				</simpleType>
			</attribute>
			<attribute name="albumStatus">
				<simpleType base="string">
					<enumeration value="Official"/>
					<enumeration value="Bootleg"/>
					<enumeration value="Advance"/>
				</simpleType>
			</attribute>
			<attribute name="genre">
				<simpleType base="string">
					<enumeration value="Acapella"/>
					<enumeration value="Acid"/>
					<enumeration value="Acid Jazz"/>
					<enumeration value="Acid Punk"/>
					<enumeration value="Acoustic"/>
					<enumeration value="Alternative"/>
					<enumeration value="Alternative Rock"/>
					<enumeration value="Ambient"/>
					<enumeration value="Anime"/>
					<enumeration value="Avantgarde"/>
					<enumeration value="Ballad"/>
					<enumeration value="Bass"/>
					<enumeration value="Beat"/>
					<enumeration value="Bebop"/>
					<enumeration value="Big Band"/>
					<enumeration value="Black Metal"/>
					<enumeration value="Bluegrass"/>
					<enumeration value="Blues"/>
					<enumeration value="Booty Bass"/>
					<enumeration value="Cabaret"/>
					<enumeration value="Celtic"/>
					<enumeration value="Chamber Music"/>
					<enumeration value="Chanson"/>
					<enumeration value="Chorus"/>
					<enumeration value="Christian Gangsta"/>
					<enumeration value="Christian Rap"/>
					<enumeration value="Christian Rock"/>
					<enumeration value="Classic Rock"/>
					<enumeration value="Classical"/>
					<enumeration value="Club"/>
					<enumeration value="Club-House"/>
					<enumeration value="Comedy"/>
					<enumeration value="Contemporary C"/>
					<enumeration value="Country"/>
					<enumeration value="Crossover"/>
					<enumeration value="Cult"/>
					<enumeration value="Dance"/>
					<enumeration value="Dance Hall"/>
					<enumeration value="Darkwave"/>
					<enumeration value="Death Metal"/>
					<enumeration value="Disco"/>
					<enumeration value="Dream"/>
					<enumeration value="Drum &amp; Bass"/>
					<enumeration value="Drum Solo"/>
					<enumeration value="Duet"/>
					<enumeration value="Easy Listening"/>
					<enumeration value="Electronic"/>
					<enumeration value="Ethnic"/>
					<enumeration value="Eurodance"/>
					<enumeration value="Euro-House"/>
					<enumeration value="Euro-Techno"/>
					<enumeration value="Fast Fusion"/>
					<enumeration value="Folk"/>
					<enumeration value="Folklore"/>
					<enumeration value="Folk-Rock"/>
					<enumeration value="Freestyle"/>
					<enumeration value="Funk"/>
					<enumeration value="Fusion"/>
					<enumeration value="Game"/>
					<enumeration value="Gangsta"/>
					<enumeration value="Goa"/>
					<enumeration value="Gospel"/>
					<enumeration value="Gothic"/>
					<enumeration value="Gothic Rock"/>
					<enumeration value="Grunge"/>
					<enumeration value="Hard Rock"/>
					<enumeration value="Hardcore"/>
					<enumeration value="Heavy Metal"/>
					<enumeration value="Hip-Hop"/>
					<enumeration value="House"/>
					<enumeration value="Humour"/>
					<enumeration value="Industrial"/>
					<enumeration value="Instrumental"/>
					<enumeration value="Instrumental Pop"/>
					<enumeration value="Instrumental Rock"/>
					<enumeration value="Jazz"/>
					<enumeration value="Jazz+Funk"/>
					<enumeration value="JPop"/>
					<enumeration value="Jungle"/>
					<enumeration value="Latin"/>
					<enumeration value="Lo-Fi"/>
					<enumeration value="Meditative"/>
					<enumeration value="Merengue"/>
					<enumeration value="Metal"/>
					<enumeration value="Musical"/>
					<enumeration value="National Folk"/>
					<enumeration value="Native US"/>
					<enumeration value="Negerpunk"/>
					<enumeration value="New Age"/>
					<enumeration value="New Wave"/>
					<enumeration value="Noise"/>
					<enumeration value="Oldies"/>
					<enumeration value="Opera"/>
					<enumeration value="Other"/>
					<enumeration value="Polka"/>
					<enumeration value="Polsk Punk"/>
					<enumeration value="Pop"/>
					<enumeration value="Pop/Funk"/>
					<enumeration value="Pop-Folk"/>
					<enumeration value="Porn Groove"/>
					<enumeration value="Power Ballad"/>
					<enumeration value="Pranks"/>
					<enumeration value="Primus"/>
					<enumeration value="Progressive Rock"/>
					<enumeration value="Psychadelic"/>
					<enumeration value="Psychedelic Rock"/>
					<enumeration value="Punk"/>
					<enumeration value="Punk Rock"/>
					<enumeration value="R&amp;B"/>
					<enumeration value="Rap"/>
					<enumeration value="Rave"/>
					<enumeration value="Reggae"/>
					<enumeration value="Retro"/>
					<enumeration value="Revival"/>
					<enumeration value="Rhythmic Soul"/>
					<enumeration value="Rock"/>
					<enumeration value="Rock &amp; Roll"/>
					<enumeration value="Salsa"/>
					<enumeration value="Samba"/>
					<enumeration value="Satire"/>
					<enumeration value="Showtunes"/>
					<enumeration value="Ska"/>
					<enumeration value="Slow Jam"/>
					<enumeration value="Slow Rock"/>
					<enumeration value="Sonata"/>
					<enumeration value="Soul"/>
					<enumeration value="Sound Clip"/>
					<enumeration value="Soundtrack"/>
					<enumeration value="Southern Rock"/>
					<enumeration value="Space"/>
					<enumeration value="Speech"/>
					<enumeration value="Swing"/>
					<enumeration value="Symphonic Rock"/>
					<enumeration value="Symphony"/>
					<enumeration value="SynthPop"/>
					<enumeration value="Tango"/>
					<enumeration value="Techno"/>
					<enumeration value="Techno-Industrial"/>
					<enumeration value="Terror"/>
					<enumeration value="Thrash Metal"/>
					<enumeration value="Top 40"/>
					<enumeration value="Trailer"/>
					<enumeration value="Trance"/>
					<enumeration value="Tribal"/>
					<enumeration value="Trip-Hop"/>
					<enumeration value="Vocal"/>
					<enumeration value="World"/>
				</simpleType>
			</attribute>
			<attribute name="track" type="string"/>
			<attribute name="disc" type="string"/>
			<attribute name="year" type="year"/>
			<attribute name="origYear" type="year"/>
			<attribute name="seconds" type="int"/>
			<attribute name="bitrate">
				<simpleType base="short">
					<enumeration value="32"/>
					<enumeration value="48"/>
					<enumeration value="64"/>
					<enumeration value="80"/>
					<enumeration value="96"/>
					<enumeration value="128"/>
					<enumeration value="192"/>
					<enumeration value="192"/>
					<enumeration value="224"/>
					<enumeration value="256"/>
					<enumeration value="320"/>
					<enumeration value="32-64"/>
					<enumeration value="64-96"/>
					<enumeration value="96-128"/>
					<enumeration value="128-192"/>
					<enumeration value="192-256"/>
					<enumeration value="256-320"/>
				</simpleType>
			</attribute>
			<attribute name="sampleRate">
				<simpleType base="int">
					<enumeration value="8000"/>
					<enumeration value="11025"/>
					<enumeration value="16000"/>
					<enumeration value="22050"/>
					<enumeration value="44100"/>
					<enumeration value="48000"/>
					<enumeration value="96000"/>
					<enumeration value="192000"/>
				</simpleType>
			</attribute>
			<attribute name="channels">
				<simpleType base="short">
					<enumeration value="1"/>
					<enumeration value="2"/>
				</simpleType>
			</attribute>
			<attribute name="soundType">
				<simpleType base="string">
					<enumeration value="Single Channel"/>
					<enumeration value="Stereo"/>
					<enumeration value="Joint Stereo"/>
					<enumeration value="Dual Channel"/>
					<enumeration value="Multichannel"/>
				</simpleType>
			</attribute>
			<attribute name="language">
				<simpleType base="string">
					<enumeration value="Chinese"/>
					<enumeration value="Danish"/>
					<enumeration value="Dutch"/>
					<enumeration value="English"/>
					<enumeration value="French"/>
					<enumeration value="German"/>
					<enumeration value="Italian"/>
					<enumeration value="Korean"/>
					<enumeration value="Japanese"/>
					<enumeration value="Mandarin"/>
					<enumeration value="None"/>
					<enumeration value="Russian"/>
					<enumeration value="Spanish"/>
				</simpleType>
			</attribute>
			<attribute name="source">
				<simpleType base="string">
					<enumeration value="CD Rip"/>
					<enumeration value="DVD Audio Rip"/>
					<enumeration value="Online Music Store"/>
					<enumeration value="Live Recording"/>
					<enumeration value="LP Recording"/>
					<enumeration value="Tape Recording"/>
					<enumeration value="TV Recording"/>
				</simpleType>
			</attribute>
			<attribute name="composer" type="string"/>
			<attribute name="publisher" type="string"/>
			<attribute name="producer" type="string"/>
			<attribute name="lyricist" type="string"/>
			<attribute name="origLyricist" type="string"/>
			<attribute name="arranger" type="string"/>
			<attribute name="performer" type="string"/>
			<attribute name="conductor" type="string"/>
			<attribute name="copyright" type="string"/>
			<attribute name="encoder" type="string"/>
			<attribute name="encodedby" type="string"/>
			<attribute name="description">
				<simpleType base="string">
					<maxInclusive value="1024"/>
				</simpleType>
			</attribute>
			<attribute name="qualitynotes" type="string"/>
			<attribute name="keywords" type="string"/>
			<attribute name="releasegroup" type="string"/>
			<attribute name="releasegroupLink" type="uriReference"/>
			<attribute name="releaseDate" type="string"/>
			<attribute name="distributer" type="string"/>
			<attribute name="distributerLink" type="uriReference"/>
			<attribute name="link" type="uriReference"/>
			<attribute name="DRM" type="boolean"/>
			<attribute name="mbalbumid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="mbalbumartistid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="mbartistid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="mbpuid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="mbtrmid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="mbuniquefileid">
				<simpleType base="GUIDType"/>
			</attribute>
			<attribute name="cddb" type="string"/>
		</all>
	</complexType>
</schema>