Schemas/bookRoot.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/bookRoot.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="bookRoots">
		<complexType>
			<element name="bookRoot" type="rootType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="rootType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
