Schemas/collectionsFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/collectionsFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="collectionsFolders">
		<complexType>
			<element name="collectionsFolder" type="collectionsType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="collectionsType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
