Schemas/favouritesFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/favouritesFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  
  <element name="favouritesFolders">
	<complexType>
		<element name="favouritesFolder" type="favouritesType" minOccurs="1" maxOccurs="unbounded"/>
	</complexType>
  </element>     
  <complexType name="favouritesType">
	<all>
		<attribute name="title" type="string"/>
		<attribute name="description" type="string"/>
	</all>
  </complexType>
  
</schema>
