Schemas/musicGenreCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/musicGenreCollection.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="musicGenreCollections">
		<complexType>
			<element name="musicGenreCollection" type="musicGenreCollectionType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="musicGenreCollectionType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
