Schemas/musicAll.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/musicAll.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
  
  <element name="musicAlls">
	<complexType>
		<element name="musicAll" type="allType" minOccurs="1" maxOccurs="unbounded"/>
	</complexType>
  </element>     
  <complexType name="allType">
	<all>
		<attribute name="title" type="string"/>
	</all>
  </complexType>
  
</schema>
