Schemas/musicAlbumCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/musicAlbumCollection.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="musicAlbumCollections">
		<complexType>
			<element name="musicAlbumCollection" type="musicAlbumCollectionType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="musicAlbumCollectionType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
