Schemas/musicRoot.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/musicRoot.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="musicRoots">
		<complexType>
			<element name="musicRoot" type="musicRootType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="musicRootType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
