Schemas/videoMusicCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/videoMusicCollection.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="videoMusicCollections">
		<complexType>
			<element name="videoMusicCollection" type="videoMusicCollectionType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="videoMusicCollectionType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
