Schemas/videoSeriesCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.shareaza.com/schemas/videoSeriesCollection.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
	
	<element name="videoSeriesCollections">
		<complexType>
			<element name="videoSeriesCollection" type="videoSeriesCollectionType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>     
	<complexType name="videoSeriesCollectionType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>
	
</schema>
